<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App permisos y ausencias - {% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav>
        <div><a href="{{ url_for('home.index')}}">Nueva solicitud</a></div>
        <div><a href="{{ url_for('permission_blueprint.index')}}">Ver Solicitudes</a></div>
    </nav>
    <!-- Sección de bloque de contenido -->
    {% block content %}
    {% endblock %}
</body>
</html>