{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Solicitar permiso</h1>
        <!-- <form id='permiso' onsubmit="crearSolicitud()"> -->
        <form id='permiso'>
            <div>
                <label for="dni">Solicitante:</label>
                <input type="text" class="" id="dni" name="dni" placeholder="DNI" required maxlength="8" onkeyup="handleInputDni()"/>
                <p id="name"></p>
            </div>
            <div>
                <label for="dni">Fecha:</label>
                <input type="date" class="" id="fecha" name="fecha" placeholder="Fecha" required />
            </div>
            <div>
                <label for="dni">Hora Salida:</label>
                <input type="text" class="" id="hora_salida" name="hora_salida" placeholder="00:00" required />
            </div>
            <div>
                <label for="dni">Hora retorno:</label>
                <input type="text" class="" id="hora_retorno" name="hora_retorno" placeholder="00:00" required />
            </div>
            <div>
                <label for="dni">Motivo:</label>
                <input type="text" class="" id="motivo" name="motivo" placeholder="..." required />
            </div>
            <button type="submit" >Solicitar</button>
        </form>
    </div>
    <script>
        const form = document.getElementById('permiso');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            // console.log('formData', formData)
            fetch('http://127.0.0.1:5000/permisos/crear_permiso', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert('Se creo la solicitud')
                window.location.href = '/permisos/'
            })
            .catch(error => {
                console.error(error);
            });
        });

        async function crearSolicitud() {
            // e.preventDefault();
            // console.log('e', e)
            alert('crear solictud')
            const endPoint = 'http://127.0.0.1:5000/permisos/crear_permiso'
            const options = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({'dni': '47518569'}),
            };

            // const request = new Request(endpoint, init);
            // console.log('request', request)
            let response = await fetch('http://127.0.0.1:5000/permisos/crear_permiso', options);
            console.log('response', response)
            if (response.ok) { // si el HTTP-status es 200-299
                // obtener cuerpo de la respuesta (método debajo)
                let json = await response.json();
                console.log('json', json)
                document.getElementById("name").innerHTML = json.name
            } else {
                alert("Error-HTTP: " + response.status);
            }
        }

        function handleInputDni() {
          const valueDni = document.getElementById("dni").value;
          // Aquí se coloca la lógica para verificar el valor
          // ...
          // var resultado = "El valor es válido"; // Ejemplo
          // document.getElementById("resultado").innerHTML = resultado;
          console.log('Consultar al back si existe ese DNI', valueDni)
          if (valueDni.length == 8) {
            // Consultar al back si existe ese DNI
            getName()
          } else {
            document.getElementById("name").innerHTML = ''
          }

        }
        async function getName() {
            const url = 'http://127.0.0.1:5000/name/47'
            let response = await fetch(url);
            console.log('response', response)
            if (response.ok) { // si el HTTP-status es 200-299
                // obtener cuerpo de la respuesta (método debajo)
                let json = await response.json();
                console.log('json', json)
                document.getElementById("name").innerHTML = json.name
            } else {
                alert("Error-HTTP: " + response.status);
            }
        }

    </script>
</main>
{% endblock %}