<section>
  <!-- After extracting a custom class -->
  <div class="flex min-h-full flex-col justify-center px-6 pb-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="text-center text-2xl font-bold leading-9 tracking-tight text-indigo-900"
      >
        Solicitar permiso de salida
      </h2>
    </div>
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
      <div>
        <label
          for="dni"
          class="block text-sm font-medium leading-6 text-gray-900"
          >DNI:</label
        >
        <div class="mt-2">
          <input
            id="dni"
            name="dni"
            type="text"
            autocomplete="dni"
            placeholder="DNI"
            required
            maxlength="8"
            class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            onkeyup="handleInputDni()"
            />
            <span id="name" class="text-xs font-medium text-green-500 dark:text-green-300 pl-2">
              ...
            </span>
        </div>
      </div>
      <hr class="mb-4" />
      <form id='formPermiso' class="space-y-6 hidden">
        <div class="space-y-2">
          <div>
            <label
              for="fecha"
              class="block text-sm font-medium leading-6 text-gray-900"
              >fecha:</label
            >
            <div class="mt-2">
              <input
                id="fecha"
                name="fecha"
                type="date"
                autocomplete="fecha"
                required
                class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="hora_salida"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Hora de Salida:</label
            >
            <div class="mt-2">
              <input
                id="hora_salida"
                name="hora_salida"
                type="time"
                autocomplete="hora_salida"
                required
                class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="hora_retorno"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Hora de Retorno:</label
            >
            <div class="mt-2">
              <input
                id="hora_retorno"
                name="hora_retorno"
                type="time"
                autocomplete="hora_retorno"
                required
                class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="motivo"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Motivo</label
            >
            <div class="mt-2">
              <textarea
                id="motivo"
                name="motivo"
                rows="3"
                class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                required
                ></textarea>
            </div>
          </div>
          <div>
            <button
              id="buttonSolicitar"
              type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              onclick="crearSolicitud()"
            >
              Solicitar
            </button>
          </div>
        </div>
      </form>
      <form id='formPermisoPendiente' class="space-y-6 text-center hidden">
        <div class="space-y-2">
          <h4 class="block font-medium text-gray-900">Solicitud Activa</h4>
          <div>
            <label
              for="fechaPendiente"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Fecha</label
            >
            <div class="mt-2">
              <input
                id="fechaPendiente"
                name="fechaPendiente"
                type="date"
                disabled
                class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="horaRetornoPendiente"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Hora de Retorno</label
            >
            <div class="mt-2">
              <input
                id="horaRetornoPendiente"
                name="horaRetornoPendiente"
                type="time"
                disabled
                class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="estadoPendiente"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Estado</label
            >
            <div id="estadoPendiente" class="mt-2">
            </div>
            <!-- <div class="mt-2">
              <input
                id="estadoPendiente"
                name="estadoPendiente"
                type="text"
                disabled
                class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div> -->
          </div>
          <br />
          <div class="flex justify-center">
            <button
              id="buttonEliminar"
              type="button"
              class="hidden flex w-1/2 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
              &nbsp
              Eliminar
            </button>
          </div>
          <div class="flex justify-center">
            <button
              id="buttonExtender"
              type="button"
              class="hidden flex w-1/2 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              &nbsp;
              Extender
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- sweetalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>
  <script>
    const linkSolicitudes = document.getElementById('solicitudes') // Esta en base.html
    const form = document.getElementById('formPermiso');
    const divFormPermiso = document.getElementById('formPermiso');
    const divFormPermisoPendiente = document.getElementById('formPermisoPendiente');
    // Evento de carga de página
    document.addEventListener('DOMContentLoaded', function() {
       // Establecer fecha actual a input fecha
      let fechaInput = document.getElementById('fecha');
        // Obtener la fecha actual en formato YYYY-MM-DD
      let fechaActual = new Date().toISOString().split('T')[0];
        fechaInput.value = fechaActual;
    });

    form.addEventListener('submit', (event) => {
            event.preventDefault();
            const dni = document.getElementById("dni").value.trim();
            const nameText = document.getElementById("name").textContent.trim();
            const formData = new FormData(form);
            formData.append('dni', dni)
            formData.append('full_name', nameText)
            // console.log('formData', formData)
            fetch('http://127.0.0.1:5000/permisos/crear_permiso', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Notificación
                const Toast = Swal.mixin({
                toast: true,
                position: "bottom",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.onmouseenter = Swal.stopTimer;
                  toast.onmouseleave = Swal.resumeTimer;
                }
              });
              Toast.fire({
                icon: "success",
                title: "Permiso solicitado"
              }).then(() => location.reload());
            })
            .catch(error => {
                console.error(error);
            });
    });

    function handleInputDni() {
      const valueDni = document.getElementById("dni").value;
      console.log("Consultar al back si existe ese DNI", valueDni);
      if (valueDni.length == 8) {
        // Consultar al back si existe ese DNI
        getName(valueDni);
      } else {
        document.getElementById("name").innerHTML = "";
      }
    }
    async function getName(valueDni) {
      const fechaPendiente = document.getElementById('fechaPendiente')
      const horaRetornoPendiente = document.getElementById('horaRetornoPendiente')
      const estadoPendiente = document.getElementById('estadoPendiente')
      const buttonExtender = document.getElementById('buttonExtender')
      const buttonEliminar = document.getElementById('buttonEliminar')
      const url = `http://127.0.0.1:5000/get_data_by_dni/${valueDni}`

      let response = await fetch(url,{
                method: 'GET',
				        headers: {
                    'Content-Type': 'application/json'
                },
            });
      let json_response = await response.json();
      if (response.ok) {
        const data_response = json_response.data;
        const user_mode = data_response.employee.user_mode
        const {id, permission_date, return_time, status} = data_response.permission
        // si el HTTP-status es 200-299
        console.log("json", json_response);
        document.getElementById("name").innerHTML = data_response.employee.full_name;
        if (user_mode == 'admin') linkSolicitudes.classList.remove('hidden')
        else if (user_mode == 'user') linkSolicitudes.classList.add('hidden');

        if (status == null || status == 'FINALIZADO' || status == 'ELIMINADO') {
          divFormPermiso.classList.remove('hidden')
          divFormPermisoPendiente.classList.add('hidden')
        } else {
          divFormPermisoPendiente.classList.remove('hidden')
          divFormPermiso.classList.add('hidden')
          // Parsear permission_date
          const partsDate = permission_date.split('/');
          fechaPendiente.value =  new Date(partsDate[2], partsDate[1] - 1, partsDate[0]).toISOString().split('T')[0];
          horaRetornoPendiente.value = return_time
          const span = document.createElement('span');
          estadoPendiente.innerHTML = renderStatus(status)
        }

        if (status == 'ACEPTADO') {
          buttonExtender.classList.remove('hidden')
          buttonEliminar.classList.add('hidden')
          buttonExtender.onclick = () => {
            extenderPermiso(id)
          }
        }
        if (status == 'PENDIENTE') {
          buttonExtender.classList.add('hidden')
          buttonEliminar.classList.remove('hidden')
          buttonEliminar.onclick = () => {
            eliminar(id)
          }
        }
      } else {
        console.log('response', json_response)
        alert("Error-HTTP: " + json_response.message);
      }
    }

    function extenderPermiso(id) {
		// Lógica para Extender el elemento con el ID proporcionado
		console.log("Extender ID:", id);
		Swal.fire({
			title: "¿Solicitar extensión tiempo?",
			text: "Nuevo tiempo de retorno",
			input: "time",
			inputAttributes: {
				autocapitalize: "off"
			},
			showCancelButton: true,
			confirmButtonText: "Solicitar",
			showLoaderOnConfirm: true,
			preConfirm: (valueText) => {
				try {
					console.log('valueText', valueText)
				// const githubUrl = `
				// 	https://api.github.com/users/${login}
				// `;
				// const response = await fetch(githubUrl);
				// if (!response.ok) {
				// 	return Swal.showValidationMessage(`
				// 	${JSON.stringify(await response.json())}
				// 	`);
				// }
				// return response.json();
				} catch (error) {
				Swal.showValidationMessage(`
					Request failed: ${error}
				`);
				}
			},
			allowOutsideClick: () => !Swal.isLoading()
			}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire({
				title: `${result.value.login}'s avatar`,
				imageUrl: result.value.avatar_url
				});
			}
			});
	}

	function eliminar(id) {
		console.log('Eliminar permiso')
    Swal.fire({
			title: '¿Eliminar salida?',
			showCancelButton: true,
			icon: 'warning',
			confirmButtonText: "Si, Eliminar",
		}).then((result) => {
			/* Read more about isConfirmed, isDenied below */
			if (result.isConfirmed) {
        eliminarPermiso(id)
				// Acción para aceptar
			} else if (result.isDenied) {
        console.log('Eliminado')
			}
		});
	}

  function eliminarPermiso(id){
    data = {
					id,
					action: 'eliminar'
				}
		fetch('http://127.0.0.1:5000/permisos/update_permission', {
        method: 'POST',
				headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
				        Swal.fire("Eliminado!", "", "success");
                const Toast = Swal.mixin({
                toast: true,
                position: "bottom",
                showConfirmButton: false,
                timer: 1200,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.onmouseenter = Swal.stopTimer;
                  toast.onmouseleave = Swal.resumeTimer;
                }
              });
              Toast.fire({
                icon: "success",
                title: "Permiso Eliminado"
              }).then(() => location.reload());
            })
            .catch(error => {
                console.error(error);
            });
  }
  function renderStatus(status){
    const colorStatus = {
        'PENDIENTE': 'bg-gray-300',
        'ACEPTADO': 'bg-gradient-to-r from-teal-300 to-teal-400',
        'RECHAZADO': 'bg-red-400',
        'EXTENDIDO': 'bg-gradient-to-r from-yellow-300 to-orange-300',
        'FINALIZADO': 'bg-gradient-to-r from-cyan-300 to-blue-300',
    }
    return `<span class='text-sm px-2 py-1 text-white rounded ${colorStatus[status]}'>${status}</span>`
}
  </script>
</section>
