{% extends 'base.html' %}
{% block content %}
    <div class="container w-full md:w-4/5 xl:w-4/5  mx-auto px-5">
        <div class="flex min-h-full flex-col justify-center px-6 pb-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              <h2
                class="text-center text-2xl font-bold leading-9 tracking-tight text-indigo-900"
              >
                LOGIN
              </h2>
            </div>
            <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
              <form id='formLogin' class="space-y-6">
                  <div class="space-y-2">
                      <input
                        id="dni"
                        name="dni"
                        type="text"
                        autocomplete="dni"
                        placeholder="DNI"
                        required
                        maxlength="8"
                        class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        />
                  </div>
                  <div class="space-y-2">
                      <input
                        id="password"
                        name="password"
                        type="password"
                        placeholder="********"
                        required
                        class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        />
                  </div>
                  <br >
                  <div>
                      <button
                        id="buttonSolicitar"
                        type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                      >
                        Login
                      </button>
                    </div>
              </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>
    <script>
      const linkSolicitudes = document.getElementById('solicitudes') // Esta en base.html
      const form = document.getElementById('formLogin');
      const Toast = Swal.mixin({
                    toast: true,
                    position: "bottom",
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.onmouseenter = Swal.stopTimer;
                      toast.onmouseleave = Swal.resumeTimer;
                    }
                  });
      form.addEventListener('submit', (event) => {
              event.preventDefault();
              const formData = new FormData(form);
              // console.log('formData', formData)
              fetch('/login', {
                  method: 'POST',
                  body: formData
              })
              .then(response => {
                console.log('response', response)
                if (response.status != 200) {
                  Toast.fire({
                    icon: "error",
                    title: "Datos incorrectos"
                  });
                  return
                }
                return response.json()
              })
              .then(data => {
                  console.log(data, data.status);
                  // Notificación
                  Toast.fire({
                    icon: "success",
                    title: "Ingresando"
                  }).then(() => window.location.href = "{{ url_for('permission_blueprint.index') }}");
              })
              .catch(error => {
                  console.error(error);
              });
      });
    </script>
  {% endblock %}